.green{
	background: rgba(6, 163, 6, 0.2);
	border: 2px solid rgb(84, 153, 84)
}

.error {
	padding: 5px;
	width: 330px;
	border-radius: 5px;
	color: rgb(129, 3, 3);
	margin-bottom: 1rem;
}

.red, .error{
	background: rgba(165, 20, 20, 0.2);
	border: 2px solid rgb(209, 9, 9);
}

