:root{
	font-size: 10px;
	text-align: center;
	
}

body{
	margin: 0;
	padding: 3rem 2rem 2rem;
	color: rgb(253,131,42);
	font-size: 1.6rem;
	box-sizing: border-box;
	height: 100vh;
}

.body-name{
	margin-bottom: 2rem;
}

.parent, .child, .grand-child{
	color: black;
	padding: 1rem;
}

.parent {
	background-color: rgb(245, 245, 245);
	padding: 1rem;
	border: 1px solid rgb(227, 227, 227)
}

.main{
	display: grid;
	grid-template-rows: 1fr 80% 1fr;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}

.header{
	grid-column: 1 / 3;
	padding: 1rem 1rem 0;
}

.section-left{
	grid-column: 1 / 2;
}

.section-right{
	grid-column: 2/3;
	grid-row: 2/3;
}

.footer{
	grid-column: 1/3;
}

.child {
	background: rgb(223,235,249);
	border: 1px solid rgb(180,206,244);
	color: rgb(14,118,250);
	padding: 1rem;
	margin: 1rem 0;
}

.grand-child {
	background-color: rgb(223,250,235);
	border: 1px solid rgb(153,219,180);
	color: rgb(1,217,85);
}

.aside{
	margin-top: 0;

}

.p-holder {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: space-between;
}

.p2 {
margin-top: 0;
}

.nav-right{
	height: 80%;
}
