body {
	margin: 0;
}

.slides-holder{
	position: relative;
	width: 100%;
	height: 50vh;
 	background-repeat: no-repeat;
	background-size: cover;
}

.slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img {
	width: 100%;
}

.visible{
	opacity: 1;
	z-index: 2;
}