body {
  background: url(../photo/626fd61e9b37110001dafe6c-image_65f027b6.webp)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 900;
  font-size: 3rem;
  width: 50%;
  text-align: center;
}

.loader-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.212);
}

.loader {
	position: relative;
	animation: flix 3s ease-in infinite alternate;
  }
  .loader:before {
	content: '';
	display: block;
	font-size: 0;
	width: 48px;
	height: 48px;
	background-color: #fff ;
	background-image:
	  radial-gradient(circle 12px at 22px 22px, #FF3D00 100%, transparent 0),
	  radial-gradient(circle 10px at 6px 40px, #FF3D00 100%, transparent 0),
	  radial-gradient(circle 14px at 31px -6px, #FF3D00 100%, transparent 0),
	  radial-gradient(circle 5px at 40px 30px, #FF3D00 100%, transparent 0);
	border-radius: 50%;
	animation: rotate 1s linear infinite;
  }
  .loader:after {
	  content: '';
	  position: absolute;
	  top: 0%;
	  transform: translate(-50% , -100%);
	  left: 50%;
	  width: 24px;
	  height: 12px;
	  background: #fff;
	  border-radius: 50px 50px 0 0;
	}

  @keyframes flix {
	0%  , 60% { transform: rotate(-10deg)}
	100%  , 30% , 80% { transform: rotate(5deg)}
  }
  @keyframes rotate {
	100%   { transform: rotate(360deg)}
  }

.show {
  display: flex;
}

.hero-name{
	font-size: 1.3rem;
}

.card {
  border: 2px solid rgb(51, 51, 51);
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.103);
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
  box-shadow: 0 0 0.5rem black;
  transition: all .3s;
}


.card:hover{
	transform: scale(1.1);
	background-color: rgba(245, 245, 245, 0.3);

}

a{
	text-decoration: none;
	color:rgb(37, 34, 34);
}

a:hover{
	color: black;
}