.error{
    border: 3px solid red;
}

.valid {
    border: 3px solid green;
}

input {
    width: 50%;
    padding: .5rem;

}

.log{
    background-color: gray;
    color: black;
    height: 50vh;
    padding: 1rem;
    white-space: pre-line;
}
/*
.focus{
    background-color: red;
}

.blur{
    background-color: green;
}

.change{
    background-color: yellow;
}
*/
form div{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

img{
	margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;

}

.img-holder{
	position: relative;
	width: 1rem;
	height: 1rem;
}

.img-holder img{
	position: absolute;
}
 
label {
	margin-right: 1rem;
}