body{
	padding: 0;
	display:flex;
	flex-direction: column;
}

#header{
	align-self: center;
	margin: 0 auto;

}

#body, #footer {
	padding-top: .5rem;
}

#body{
	background-color: rgb(185, 185, 185);
}

#footer{
	background-color: rgb(48, 48, 48);
	color: rgb(224, 223, 223);
}

#date{
	padding: 1rem 5%;
}