
body{
	display: grid;
	grid-template-rows: 200px 400px 200px;
	grid-template-columns: 100px 700px;
}

header{
	border: 1px solid orangered;
	box-sizing: border-box;
	grid-column: 1/3;
}

header, nav, section, footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav{
	border: 1px solid orange;
	box-sizing: border-box;
}

section{
	border: 1px solid orange;
	box-sizing: border-box;
}

footer{
	border: 1px solid rgb(75, 75, 75);
	box-sizing: border-box;	
	grid-column: 1/3;
}