
.comments-holder{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}

.card{
	width: 40%;
	border-radius: .3rem;
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: rgba(165, 165, 165, 0.555);
}

.comment-name{
	font-size: 1.3rem;
	margin-left: 2rem;
}

.loader-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(128, 128, 128, 0.212);
  }

  .loader {
	position: relative;
	height: 200px;
	width: 200px;
	border-bottom: 3px solid #ff3d00;
	box-sizing: border-box;
	animation: drawLine 4s linear infinite;
  }
  .loader:before {
	content: "";
	position: absolute;
	left: calc(100% + 14px);
	bottom: -6px;
	width: 16px;
	height: 100px;
	border-radius: 20px 20px 50px 50px;
	background-repeat: no-repeat;
	background-image: linear-gradient(#ff3d00 6px, transparent 0),
	  linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
	  linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
	  linear-gradient( to bottom, #ffffff 10%, #ff3d00 10%, #ff3d00 90%, #ffffff 90% );
	background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
	background-position: center bottom, left 88px, right 88px, left top;
	transform: rotate(25deg);
	animation: pencilRot 4s linear infinite;
  }
  
  @keyframes drawLine {
	0%, 100% { width: 0px }
	45%, 55% { width: 200px }
  }
  
  @keyframes pencilRot {
	0%, 45% {
	  bottom: -6px;
	  left: calc(100% + 14px);
	  transform: rotate(25deg);
	}
	55%,
	100% {
	  bottom: -12px;
	  left: calc(100% + 16px);
	  transform: rotate(220deg);
	}
  }

  .show {
	display: flex;
  }

  .switcher{
	width: 25%;
	height: 2rem;
	border-radius: .5rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	min-width: 205px;
  }

  .switcher > button {
	width: 40%;
	border: 1px solid black;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 95px;
	/* background-color: rgb(194, 194, 194); */
	padding: .5rem;
  }

  .switcher > button:hover{
	cursor: pointer;
  }

  /* .swither__button{
	width: 25%;
	border-radius: .5rem;
	background-color: rgb(233, 232, 232);
	margin-right: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
  } */