@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root{
	font-size: 10px;
}

body {
	font-family: 'Padauk', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #001124;
	display: flex;
	justify-content: space-between;
    min-height: 100vh;
}

.img-holder {
	display: flex;
	width: 50%;
	background-image: url(../img/login\ 1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	margin-right: 10rem;
}

.reg-img{
	background-image: url(../img/Figure.png);
}

.img-holder img {
	width: 100%;
	height: auto;
}

.form-holder {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

h2{
	font-weight: 400;
margin-top: 11rem;
}

form {
	width: 100%;
}

.login-header{
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	line-height: 61.7px;
	font-size: 45px;
	color: white;
}

input{
	width: 65%;
	height: 4.3rem;
	margin-bottom: 1rem;
	outline:none;
}

label {
	color: white;
	font-size: 2rem;
	text-transform: capitalize;
}

.reg-holder{
margin: 4rem 0 2rem;
}

span, .login-btn{
	color: white;
}

span, a, .login-btn{
	font-size: 2rem;
}

.login-btn{
	cursor: pointer;
	font-weight: 700;
	font-size: 2rem;
	width: 27%;
	padding: 1rem 0;
	background-color: #015FC7;
display: flex;
justify-content: center;
align-items: center;
	line-height: 3rem;
	box-sizing: border-box;
}

.reg-btn{
	margin: 2rem 0 11rem 20%;
}

.success {
    border: 3px green solid;
}

.error {
    border: 3px red solid;
}