body{
	margin: 0;
	padding: 0;
	position: relative;

}

.click-fied{
width: 100%;
height: 100vh;
position: relative;
}

.click-list{
	top:0;
	right: 0;
	bottom: 0;
left: 0;
	position: absolute;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.164);
color: black;
display:none;
}

.target {
	display: none;
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: rgba(231, 125, 125, 0.527);
	animation: splash .3s forwards;
	justify-content: center;
	align-items: center;
}

.show{
	display: flex;
}

@keyframes splash {
	from {background-color: rgba(255, 0, 0, 0);}
	50% {background-color: rgba(255, 0, 0, 0.205);}
	to {background-color: rgba(255, 0, 0, 0);}
}